body {
  background-color: #222831;
  color: #222831;
  font-family: 'Caveat', cursive;
  font-size: 200%;
  font-weight: 600;
  margin: 0;
}

h1 {
  color: #00adb5;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 250%;
  margin: 0 !important;
}

a {
  color: #bedcfa;
  outline: none;
  text-decoration: none;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 90%;
  margin: 0 !important;
}

img {
  max-width: 480px;
  max-height: 480px;
}

p {
  margin: 0 !important;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comic-div {
  background-color: white;
  text-align: center;
  width: 480px;
  margin: auto;
}

.footer {
  font-size: 50%;
  color: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
