body {
  background-color: #222831;
  color: #222831;
  font-family: 'Architects Daughter', cursive;
  font-size: 200%;
  font-weight: 600;
  margin: 0;
}

h1 {
  color: #00adb5;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 250%;
  margin: 0 !important;
}

a {
  color: #bedcfa;
  outline: none;
  text-decoration: none;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 100%;
  margin: 0 !important;
  color: white;
}

p {
  color: white;
}

img {
  max-height: 480px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  color: #00adb5;
  font-size: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
